body {
  background-color: black;
}

.annoying-dog {
  width: 200px;
  margin: -65px -100px 0px 0px;
}

.only-dog {
  position: absolute;
  top: 65%;
  right: 50%;
}

.only-dog-name {
  color: white;
  position: absolute;
  top: 50%;
  right: 50%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.dog-1 {
  position: absolute;
  top: 65%;
  right: 65%;
}

.dog-1-name {
  color: white;
  position: absolute;
  top: 50%;
  right: 65%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.dog-2 {
  position: absolute;
  top: 65%;
  right: 35%;
}

.dog-2-name {
  color: white;
  position: absolute;
  top: 50%;
  right: 35%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

.dog-1-stats {
  position: relative;
  width: 50%;
}

.annoying-dog:hover {
  -webkit-animation-name: vibrate;
  -webkit-animation-duration: 0.7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@keyframes vibrate {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) }
}
