.heart {
  background-color: red;
  display: inline-block;
  height: 10px;
  margin: 0 6px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  width: 10px;
}
.heart:before,
.heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 10px;
  position: absolute;
  width: 10px;
}
.heart:before {
  top: -5px;
  left: 0;
}
.heart:after {
  left: 5px;
  top: 0;
}

.happiness {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 90px;
}

.heart-1 {
  transform: rotate(-45deg) scale(.4)
}

.heart-2 {
  transform: rotate(-45deg) scale(.4)
}

.heart-3 {
  transform: rotate(-45deg) scale(.4)
}

.heart-4 {
  transform: rotate(-45deg) scale(.4)
}

.heart-5 {
  transform: rotate(-45deg) scale(.4)
}

.heart-6 {
  transform: rotate(-45deg) scale(.4)
}

.heart-7 {
  transform: rotate(-45deg) scale(.4)
}

.heart-8 {
  transform: rotate(-45deg) scale(.4)
}

.heart-9 {
  transform: rotate(-45deg) scale(.4)
}

.heart-10 {
  transform: rotate(-45deg) scale(.4)
}
