.hunger {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 90px;
}

.hunger-bar-1 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-2 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-3 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-4 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-5 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-6 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-7 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-8 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-9 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}

.hunger-bar-10 {
  display: inline-block;
  width: 8px;
  height: 20px;
  background-color: orange;
}
