body {
  color: white;
}

#doggo-camp {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -173px;
  margin-top: -59px;
}

#sign-up-btn {

}

#log-in-form {

}

#poop {
  position: absolute;
  background-color: sienna;
  width: 50px;
  height: 50px;
}

#pee {
  position: absolute;
  background-color: yellow;
  width: 50px;
  height: 50px;
}
