.pipi {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 90px;
}

.pipi-bar-1 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-2 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-3 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-4 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-5 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-6 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-7 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-8 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-9 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}

.pipi-bar-10 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: gold;
}
