.poopy {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 90px;
}

.poopy-bar-1 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-2 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-3 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-4 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-5 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-6 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-7 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-8 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-9 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}

.poopy-bar-10 {
  display: inline-block;
  width: 8px;
  height: 5px;
  /* background-color: chocolate; */
  background-color: sienna;
}
