.thirst {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 90px;
}

.thirst-bar-1 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-2 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-3 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-4 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-5 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-6 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-7 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-8 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-9 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}

.thirst-bar-10 {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-color: skyblue;
}
